@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;1,300&display=swap');

body {
    background-color: hsl(0, 0%, 96%);
}

/* https://css-tricks.com/almanac/properties/i/image-rendering/ */
img {
    image-rendering: pixelated;
    height: 80px;
    width: 80px;
}

.nav-header {
    font-family: 'Averia Serif Libre', cursive;
}

.profile-header {
    font-family: 'Averia Serif Libre', cursive;
    font-weight: 300;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

.page-heading {
    font-family: 'Averia Serif Libre', cursive;
    margin-bottom: 30px;
}

/* https://css-tricks.com/create-diagonal-layouts-like-its-2020/*/
.home-hero {
	background: url(../images/homepage/hero_background.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0 100%);
    padding: 18rem 15%;
	padding: rem(100) rem(20);
	text-align: center;
}

.hero-heading {
    font-family: 'Averia Serif Libre', cursive;
    font-weight: 400;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.hero-subheading {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 30px;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.home-feature {
    font-family: 'Averia Serif Libre', cursive;
    margin-bottom: 15px;
}

article > i {
    font-size: 30px;
    margin-bottom: 5px;
}

table {
    display: inline-table;
}

.table {
    border-radius: 5px;
    margin-bottom: 50px;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

td {
    vertical-align: middle !important;
}

.table img {
    height: 25px;
    width: 25px;
}

.tasks-title {
    margin-bottom: 20px;
}

.is-active {
    background-color: white;
}

.card {
    border-radius: 10px;
}

.card>* {
    box-shadow: none;
}

.card-header {
    background-color: #3e8ed0;
    color: #fff;
    letter-spacing: 1px;
}

.card-header-title {
    color: #fff;
}

.signin-heading {
    font-family: 'Averia Serif Libre', cursive !important;
}

.card-header-icon {
    cursor: default;
}

.card-footer {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.task_stat_display img {
    float: right;
    height: 50px;
    width: auto;
    margin-top: -20px;
}

.date_display {
    font-size: 0.9em;
    color: rgb(122, 122, 122);
}


.notification {
    border-radius: 0;
    margin: 0 auto;
    z-index: 1;
    text-align: center;
}

.notification.is-danger {
    margin-bottom: 0!important;
}


.signin-notification {
    margin-top: 100px;
}

li.is-active a {
    background-color: hsl(0, 0%, 96%) !important;
    border-color: hsl(0, 0%, 96%) !important;
}

.active-tasks-list {
    margin-top: 50px;
}

.button.credentials {
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.hero {
    padding-top: 25px;
}

.hero-body {
    padding: 5px !important;
}

.table-column-border-right {
    border-right: 1px solid #dbdbdb !important;
}

.scroll-indicator {
    font-size: 2em;
    color: #3e8ed0;
    display: table;
    margin: 0 auto;
}

.card-header.task-complete-card {
    background-color: grey !important;
}

.card-footer a {
    color: black;
}

.subtitle {
    display: flex;
    justify-content: center;
}

.attribute-selector {
    display: grid;
    margin: auto;
}

/* Alignes attribute icons on new task page */
.is-one-fifth {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.start-quest-button {
    display: grid;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 30px !important;
    color: #ededed;
    font-weight: 400;
    margin-top: 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.edit-quest-buttons {
    display: table;
    margin: 0 auto;
}

.edit-quest-buttons button {
    font-family: 'Averia Serif Libre', cursive;
    margin-top: 40px;
}

.enemy-list,
.treasure-list {
    margin-top: 50px;
}

.enemy-card {
    border-radius: 5px;
}

.enemy-name {
    display: grid;
    font-weight: 600;
    height: 45px;
    background-color: hsl(348, 100%, 61%);
}

.enemy-name-defeated {
    display: grid;
    font-weight: 600;
    height: 45px;
    background-color: hsl(204, 86%, 53%);
}

.enemy-info {
    font-size: 1em;
    padding: 10px;
}

.enemy-info img {
    height: 60px;
    width: auto;
}

.enemy-battle-button {
    font-size: 1em;
    font-weight: 600;
    display: grid;
    padding: 10px;
}

.attribute-leaderboard {
    font-size: 20px;
    font-weight: 700;
}

.attribute-leaderboard img {
    height: 30px;
    width: auto;
    margin: 0px 10px 0px 10px
}

/* Solid border */
hr.solid {
    border-top: 2px solid rgb(216, 216, 216);
}

.leaderboard-table {
    background-color: #f5f5f5;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
}

.leaderboard-column {
    display: contents;
    padding: 0;
}

.leaderboard-username {
    font-family: 'Averia Serif Libre', cursive;
    margin: 10px!important;
}


/* https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons
/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    outline: 2px solid rgb(0, 0, 0);
}


/* jQuery calendar */
.ui-datepicker {
    width: 25em;
    padding: .2em .2em 0;
    display: none;
    background-color: rgb(255, 255, 255);
}

.ui-datepicker a {
    font-size: 15px;
    color: black;
    text-align: left;
}

.ui-datepicker-next {
    background-image: url("/static/images/ui/right.png");
}

.ui-datepicker-prev {
    background-image: url("/static/images/ui/left.png");
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background-color: hsl(204, 86%, 53%);
    color: white;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    font-weight: 600;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker td {
    border: 1px solid #eeeeee;
    padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* RTL support */
.ui-datepicker-rtl {
    direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    left: .5em;
    top: .3em;
}

.footer {
    margin-top: 100px;
}

.footer a {
    color: white;
}

.footer p {
    color: white;
}

.footer a:hover {
    text-decoration: underline;
    color: white;
  }


@media only screen and (max-width: 768px) {

    .attribute-selector {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .attribute-selector img {
        width: 60px;
        height: auto;
    }

    .attribute-selector label {
        font-size: small;
    }

    .home-hero {
        padding: 7rem 13%;
        padding-top: 40px;
    }

}