{% extends "base.html" %}
{% block content %}
<section class="section about-section">
    <h2 class="title is-2 page-heading">Help & About</h2>
    <div class="columns">
        <div class="column mr-6 ml-6">
            <article class="message is-info">
                <div class="message-body">
                    <strong>How to use Taskventure.</strong>
                    <p>Taskventure is a task-tracking app designed to help you organise and track your life. Taskventure
                        also includes fantasy and adventure elements such as heroes, monsters and character stat
                        tracking.</p>
                    <br>
                    <strong>Your character.</strong>
                    <p>When signing up, you can choose a character to represent you. All characters have skills such as
                        strength, intellect and skill. Completing tasks will increase these skills. For instance, you
                        can create a task for doing a workout, and assign the strength stat to it. Upon completion, your
                        strength stat will increase by one.</p>
                    <br>
                    <strong>Enemy Battles.</strong>
                    <p>To fight monsters, you must meet the stat requirement. More fierce enemies, such as dragons, may
                        require up to 20 strength points. And cunning wizards may require a high intellect to defeat.
                    </p>
                    <br>
                    <strong>Treasures.</strong>
                    <p>Collect rare artifacts as you level up. Unlike monsters, finding these treasures requires
                        milestones other than character attributes. You may need to complete a certain number of urgent
                        tasks, or have a particular amount of active current tasks to claim these rewards.</p>
                    <br>
                    <strong>Experience.</strong>
                    <p>Your hero's level increases with experience points. Completing tasks, defeating monsters and
                        collecting treasure will all reward you with these experience points. At 500 EXP, you will gain
                        a level.</p>
                </div>
            </article>
        </div>
        <div class="column mr-6 ml-6">
            <article class="message is-warning">
                <div class="message-body">
                    <strong>About the app.</strong>
                    <p>Taskventure is a project submission for a Web Applications Development course, and is created by
                        Paul Shepherd.</p>
                    <br>
                    <p>With a focus on backend development, the following technologies are used;</p>
                    <ul>
                        <li>Python, PyMongo</li>
                        <li>Flask</li>
                        <li>MongoDB</li>
                        <li>JavaScript, jQuery</li>
                        <li>HTML/CSS</li>
                        <li>Werkzeug</li>
                    </ul>
                    <br>
                    <p>Art was provided by <a href="http://opengameart.org/content/dungeon-crawl-32x32-tiles"
                            target="_blank">Open Game Art</a>,
                        <a href="https://kyrise.itch.io/kyrises-free-16x16-rpg-icon-pack" target="_blank">Kyrise</a>
                        and <a href="https://en.bandainamcoent.eu/elden-ring/elden-ring" target="_blank">From
                            Software</a>.</p>
                </div>
            </article>
        </div>
    </div>
</section>
{% endblock %}