{% extends "base.html" %}
{% block content %}
<section class="hero is-info is-small">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Level</p>
        <p class="title">{{ level }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Active Tasks</p>
        <p class="title">{{ active_tasks }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tasks Complete</p>
        <p class="title">{{ finished_tasks }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Urgent Tasks</p>
        <p class="title">{{ urgent_tasks }}</p>
      </div>
    </div>
  </nav>
  <div class="hero-head">

  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title profile-header">
        Greetings, {{ username.title() }}
        <img src="{{ url_for('static', filename='/images/characters/' + character + '.png') }}"
          alt="profile character sprite">
      </p>
      <p class="subtitle">
        Your current stats:
      </p>
    </div>
  </div>

  <div class="container is-max-desktop">

    <table class="table">
      <tbody>
        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/level.png') }}"
              alt="profile character sprite"></td>
          <td>Level</td>
          <td>{{ level }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/strength.png') }}"
              alt="profile character sprite"></td>
          <td>Strength</td>
          <td>{{ strength }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/stamina.png') }}"
              alt="profile character sprite"></td>
          <td>Stamina</td>
          <td>{{ stamina }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/intellect.png') }}"
              alt="profile character sprite"></td>
          <td>Intellect</td>
          <td>{{ intellect }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/skill.png') }}"
              alt="profile character sprite"></td>
          <td>Skill</td>
          <td>{{ skill }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/social.png') }}"
              alt="profile character sprite"></td>
          <td>Social</td>
          <td>{{ social }}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li>
            <a href="{{ url_for('profile_tasks', username=session['user']) }}">Quests</a>
          </li>
          <li class="is-active">
            <a href="{{ url_for('create_task') }}">New Quest</a>
          </li>
          <li>
            <a>Battle</a>
          </li>
          <li>
            <a>Treasures</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<form method="POST" action="{{ url_for('create_task') }}">

  <div class="container new-task-form">
    <span class="new-quest-title">
      <h2 class="title is-2">Start a new Quest. </h2>
    </span>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Quest Name</label>
          <div class="control field has-icons-left">
            <input class="input" name="task_name" type="text" placeholder="Quest Name" required>
            <span class="icon is-left">
              <i class="fa-solid fa-pen"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Quest Description</label>
          <div class="control">
            <textarea class="textarea" name="task_description" placeholder="Quest Description" required></textarea>
          </div>
        </div>
      </div>
      <div class="column">

        <div class="field has-icons-left">
          <label class="label">Quest End</label>
          <input class="input" type="text" name="due_date" id="datepicker" size="40" type="date" onkeydown="return false" required>
        </div>

        <label class="checkbox">
          <label class="label">Urgent</label>
          <input type="checkbox" name="is_urgent">
        </label>

      </div>
    </div>
  </div>


    <div class="container is-centered">
      <h5 class="subtitle">This quest is a feat of:</h5>
        <div class="columns attribute-selector is-centered is-mobile">
        <div class="column is-one-fifth">
        <label>
          <label class="label">Strength</label>
          <input type="radio" name="stat_increase" value="strength" checked>
          <img src="{{ url_for('static', filename='/images/attributes/strength.png') }}" alt="" srcset="">
        </label>
        </div>
        <div class="column is-one-fifth">
        <label>
          <label class="label">Stamina</label>
          <input type="radio" name="stat_increase" value="stamina">
          <img src="{{ url_for('static', filename='/images/attributes/stamina.png') }}" alt="" srcset="">
        </label>
      </div>
        <div class="column is-one-fifth">
        <label>
          <label class="label">Intellect</label>
          <input type="radio" name="stat_increase" value="intellect">
          <img src="{{ url_for('static', filename='/images/attributes/intellect.png') }}" alt="" srcset="">
        </label>
      </div>
        <div class="column is-one-fifth">
        <label>
          <label class="label">Skill</label>
          <input type="radio" name="stat_increase" value="skill">
          <img src="{{ url_for('static', filename='/images/attributes/skill.png') }}" alt="" srcset="">
        </label>
      </div>
        <div class="column is-one-fifth">
        <label>
          <label class="label">Social</label>
          <input type="radio" name="stat_increase" value="social">
          <img src="{{ url_for('static', filename='/images/attributes/social.png') }}" alt="" srcset="">
        </label>
      </div>
      </div>

  </div>

  <button class="button is-large is-large is-centered start-quest-button">Start Quest</button>

</form>



</div>
{% endblock %}