{% extends "base.html" %}
{% block content %}
<!-- hero section -->
<div class="home-hero">
  <h1 class="title hero-heading">Level Up Your To-Do List</h1>
  <p class="hero-subheading">
    Complete Your Own Quests, Battle Monsters and Collect Rare Artefacts.
  </p>
</div>
<!-- summary & features section -->
<div class="container">
  <section class="section">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child box">
              <img src="{{ url_for('static', filename='/images/treasures/buckled_book.png') }}" alt="green book">
              <p class="is-size-5 home-feature">Fully Featured Task Manager</p>
              <p>Keep track of your day with Taskventure! A helpful task-tracking app designed to keep you organised.
              </p>
              <p>Create and track multiple tasks, mark as complete, delete, edit and more. Sort by date & urgency.
                Search
                active tasks with a helpful search query tool.</p>
            </article>
            <article class="tile is-child box">
              <img src="{{ url_for('static', filename='/images/treasures/magic_map.png') }}" alt="old map">
              <p class="is-size-5 home-feature">Your Tasks, Anywhere.</p>
              <p>The responsive browser app can be loaded on desktops, laptops, tablets and mobiles. After securely
                logging in, you can access your quests from anywhere, at any time.</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <img src="{{ url_for('static', filename='/images/characters/5.png') }}" alt="wizard">
              <p class="is-size-5 home-feature">Addictive RPG Elements to Help You Acheive Your Goals.</p>
              <p>• Select a hero to represent you, and level up skills as you complete tasks.</p>
              <p>• Keep track of your level as you gain experience points. EXP can be gained from completing tasks,
                defeating enemies and finding treasures.</p>
              <p>• Battle monsters as you grow stronger. Each monster has their own requirement so it's important to
                keep
                leving up!</p>
              <p>• Collect rare treasures as you level up and claim the best rewards.</p>
              <p>• Compete with friends to reach the top of the leaderboard.</p>
              <p>• Gorgeous fantasy pixel art by <a href="http://opengameart.org/content/dungeon-crawl-32x32-tiles"
                  target="_blank">OGA</a> and <a href="https://kyrise.itch.io/kyrises-free-16x16-rpg-icon-pack"
                  target="_blank">Kyrise</a>.</p>
            </article>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <img src="{{ url_for('static', filename='/images/treasures/futuristic_tablet.png') }}"
            alt="futuristic tablet">
          <p class="is-size-5 home-feature">Built by Paul Shepherd.</p>
          <p>Paul is a Web Applications Development student in North-East England. Taskventure is a project submission
            for a backend development module.</p>
          <p>Project link: <a href="https://github.com/shepuk/Project3-Taskventure" target="_blank">Github</a></p>
          <p>Built using the following technologies:</p>
          <ul>
            <li>Python</li>
            <li>MongoDB</li>
            <li>Pymongo</li>
            <li>Flask</li>
            <li>JavaScript</li>
            <li>Bulma CSS</li>
          </ul>
        </article>
      </div>
    </div>
  </section>
</div>
{% endblock %}