{% extends "base.html" %}
{% block content %}
<section class="hero is-info is-small">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Active Tasks</p>
        <p class="title">11</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Level</p>
        <p class="title">{{ level }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tasks Complete</p>
        <p class="title">52</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Likes</p>
        <p class="title">789</p>
      </div>
    </div>
  </nav>
  <div class="hero-head">

  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title profile-header">
        Greetings, {{ username.title() }}
        <img src="{{ url_for('static', filename='/images/characters/' + character + '.png') }}"
          alt="profile character sprite">
      </p>
      <p class="subtitle">
        Your current stats:
      </p>
    </div>
  </div>

  <div class="container is-max-desktop">

    <table class="table">
      <tbody>
        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/level.png') }}"
              alt="profile character sprite"></td>
          <td>Level</td>
          <td>{{ level }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/strength.png') }}"
              alt="profile character sprite"></td>
          <td>Strength</td>
          <td>{{ strength }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/stamina.png') }}"
              alt="profile character sprite"></td>
          <td>Stamina</td>
          <td>{{ stamina }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/intellect.png') }}"
              alt="profile character sprite"></td>
          <td>Intellect</td>
          <td>{{ intellect }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/skill.png') }}"
              alt="profile character sprite"></td>
          <td>Skill</td>
          <td>{{ skill }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/social.png') }}"
              alt="profile character sprite"></td>
          <td>Social</td>
          <td>{{ social }}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a href="{{ url_for('profile_tasks', username=session['user']) }}">Quests</a>
          </li>
          <li>
            <a href="{{ url_for('create_task') }}">New Quest</a>
          </li>
          <li>
            <a>Battle</a>
          </li>
          <li>
            <a>Treasures</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<!-- Task / Quest list -->
<div class="container">
  <div class="columns is-multiline active-tasks-list">
    {% for task in tasks %}
    {% if task.is_completed == "no" %}
    <div class="column is-6">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{ task.task_name }}
          </p>
          <span class="card-header-icon">
            <span class="icon">
              {% if task.is_urgent == "on" %}
              <i class="fa-solid fa-circle-exclamation tooltipped" data-position="right" data-tooltip="Urgent"></i>
              {% endif %}
            </span>
          </span>
        </header>
        <div class="card-content">
          <div class="content">
            <span class="task_stat_display"><img
                src="{{ url_for('static', filename='/images/attributes/' + task.stat_increase + '.png') }}"
                alt="Image showing which character attribute will be increased by this task"></span>
            <em class="date_display">Quest Ends {{task.due_date }}</em>
            <br>
            {{ task.task_description }}
          </div>
        </div>
        <footer class="card-footer">
          <a href="{{ url_for('complete_task', task_id=task._id) }}" class="card-footer-item">Done</a>
          <a href="#" class="card-footer-item">Edit</a>
          <a class="card-footer-item js-modal-trigger" data-target="modal">Delete</a>

          <div class="modal" id="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Delete this quest?</p>
                <button class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                The quest will be permanently deleted.
                You will not receive the stat increase for this task.
              </section>
              <footer class="modal-card-foot">
                <a href="{{ url_for('delete_task', task_id=task._id) }}"><button
                    class="button is-danger">Delete</button></a>
                <button class="button">Cancel</button>
              </footer>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<!-- COMPLETED TASKS -->
<div class="container">
  <div class="columns is-multiline active-tasks-list">
    {% for task in tasks %}
    {% if task.is_completed == "yes" %}
    <div class="column is-6">
      <div class="card">
        <header class="card-header task-complete-card">
          <p class="card-header-title">
            {{ task.task_name }}
          </p>
          <span class="card-header-icon">
            <span class="icon">
              {% if task.is_urgent == "on" %}
              <i class="fa-solid fa-circle-exclamation tooltipped" data-position="right" data-tooltip="Urgent"></i>
              {% endif %}
            </span>
          </span>
        </header>
        <div class="card-content">
          <div class="content">
            <span class="task_stat_display"><img
                src="{{ url_for('static', filename='/images/attributes/' + task.stat_increase + '.png') }}"
                alt="Image showing which character attribute will be increased by this task"></span>
            <em class="date_display">Quest Complete (Due date{{task.due_date }}</em>
            <br>
            {{ task.task_description }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}