{% extends "base.html" %}
{% block content %}
<section class="hero is-info is-small">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Hero EXP</p>
        <p class="title">{{ exp }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Active Tasks</p>
        <p class="title">{{ active_tasks }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tasks Complete</p>
        <p class="title">{{ finished_tasks }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Urgent Tasks</p>
        <p class="title">{{ urgent_tasks }}</p>
      </div>
    </div>
  </nav>

  <div class="hero-head">
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title profile-header">
        Greetings, {{ username.title() }}
        <img src="{{ url_for('static', filename='/images/characters/' + character + '.png') }}"
          alt="profile character sprite">
      </p>
      <p class="subtitle">
        Your current stats:
      </p>
    </div>
  </div>

  <div class="container is-max-desktop">

    <table class="table">
      <tbody>
        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/level.png') }}"
              alt="profile character sprite"></td>
          <td>Level</td>
          <td class="table-column-border-right">{{ level }}</td>
          <td> <img src="{{ url_for('static', filename='/images/attributes/strength.png') }}"
              alt="profile character sprite"></td>
          <td>Strength</td>
          <td>{{ strength }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/stamina.png') }}"
              alt="profile character sprite"></td>
          <td>Stamina</td>
          <td class="table-column-border-right">{{ stamina }}</td>
          <td> <img src="{{ url_for('static', filename='/images/attributes/intellect.png') }}"
              alt="profile character sprite"></td>
          <td>Intellect</td>
          <td>{{ intellect }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/skill.png') }}"
              alt="profile character sprite"></td>
          <td>Skill</td>
          <td class="table-column-border-right">{{ skill }}</td>
          <td> <img src="{{ url_for('static', filename='/images/attributes/social.png') }}"
              alt="profile character sprite"></td>
          <td>Social</td>
          <td>{{ social }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/defeated.png') }}"
              alt="profile character sprite"></td>
          <td>Defeated</td>
          <td class="table-column-border-right">{{ defeated }}</td>
          <td> <img src="{{ url_for('static', filename='/images/attributes/claimed.png') }}"
              alt="profile character sprite"></td>
          <td>Claimed</td>
          <td>{{ claimed }}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a href="{{ url_for('profile_tasks', username=session['user'], sort_by='due_date') }}">Quests</a>
          </li>
          <li>
            <a href="{{ url_for('create_task', username=session['user']) }}">New Quest</a>
          </li>
          <li>
            <a href="{{ url_for('profile_battle', username=session['user']) }}">Battle</a>
          </li>
          <li>
            <a href="{{ url_for('profile_treasures', username=session['user']) }}">Treasures</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<span class="scroll-indicator"><i class="fa-solid fa-caret-down"></i></span>

<!-- Task / Quest list -->
<section class="section">
  <div class="container">

    <span class="tasks-title">
      <h2 class="title is-2 page-heading">Quest Log. </h2>
      <form action="{{ url_for('search') }}" method="POST" id="searchform">
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" placeholder="Search Quests" name="query">
          </div>
          <div class="control">
            <a onclick="document.getElementById('searchform').submit();" class="button is-info">
              Search
            </a>
          </div>
          <div class="control">
          <a href="{{ url_for('profile_tasks', username=session['user'], sort_by='due_date') }}" class="button is-success">
            All
          </a>
        </div>
        </div>
      </form>

      <div class="dropdown">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Sort By</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a href="{{ url_for('profile_tasks', username=session['user'], sort_by='due_date') }}" class="dropdown-item">
              Date Due
            </a>
            <a href="{{ url_for('profile_tasks', username=session['user'], sort_by='date_created') }}" class="dropdown-item">
              Date Created
            </a>
            <a href="{{ url_for('profile_tasks', username=session['user'], sort_by='is_urgent') }}" class="dropdown-item">
              Urgency
            </a>
            <a href="{{ url_for('profile_tasks', username=session['user'], sort_by='task_name') }}" class="dropdown-item">
              Alphabetically
            </a>
          </div>
        </div>
      </div>

    </span>

    {% if tasks|length > 0 %}
    <div class="columns is-multiline active-tasks-list">
      {% for task in tasks %}
      {% if task.is_completed == "no" %}
      <div class="column is-6">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{ task.task_name.title() }}
            </p>
            <span class="card-header-icon">
              <span class="icon">
                {% if task.is_urgent == "on" %}
                <i class="fa-solid fa-circle-exclamation tooltipped" data-position="right" data-tooltip="Urgent"></i>
                {% endif %}
              </span>
            </span>
          </header>
          <div class="card-content">
            <div class="content">
              <span class="task_stat_display"><img
                  src="{{ url_for('static', filename='/images/attributes/' + task.stat_increase + '.png') }}"
                  alt="Image showing which character attribute will be increased by this task"></span>
              <em class="date_display">Quest Ends {{task.due_date }}</em>
              <br>
              {{ task.task_description }}
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{ url_for('complete_task', task_id=task._id) }}" class="card-footer-item">Done</a>
            <a href="{{ url_for('edit_task', task_id=task._id) }}" class="card-footer-item">Edit</a>
            <a class="card-footer-item js-modal-trigger" data-target="modal">Delete</a>

            <div class="modal" id="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Delete this quest?</p>
                  <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                  The quest will be permanently deleted.
                  You will not receive the stat increase for this task.
                </section>
                <footer class="modal-card-foot">
                  <a href="{{ url_for('delete_task', task_id=task._id) }}"><button
                      class="button is-danger">Delete</button></a>
                  <button class="button">Cancel</button>
                </footer>
              </div>
            </div>
          </footer>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% else %}
    <h2 class="title is-2 page-heading">No Quests Found.</h2>
    {% endif %}
  </div>

  <!-- COMPLETED TASKS -->
  <div class="container">
    <div class="columns is-multiline active-tasks-list">
      {% for task in tasks %}
      {% if task.is_completed == "yes" %}
      <div class="column is-6">
        <div class="card">
          <header class="card-header task-complete-card">
            <p class="card-header-title">
              {{ task.task_name }}
            </p>
            <span class="card-header-icon">
              <span class="icon">
                {% if task.is_urgent == "on" %}
                <i class="fa-solid fa-circle-exclamation tooltipped" data-position="right" data-tooltip="Urgent"></i>
                {% endif %}
              </span>
            </span>
          </header>
          <div class="card-content">
            <div class="content">
              <span class="task_stat_display"><img
                  src="{{ url_for('static', filename='/images/attributes/' + task.stat_increase + '.png') }}"
                  alt="Image showing which character attribute will be increased by this task"></span>
              <em class="date_display">Quest Complete (Due date {{task.due_date }})</em>
              <br>
              {{ task.task_description }}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}