{% extends "base.html" %}
{% block content %}
<section class="hero is-info is-small">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Hero Level</p>
        <p class="title">{{ level }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Active Tasks</p>
        <p class="title">{{ active_tasks }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tasks Complete</p>
        <p class="title">{{ finished_tasks }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Urgent Tasks</p>
        <p class="title">{{ urgent_tasks }}</p>
      </div>
    </div>
  </nav>

  <div class="hero-head">
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title profile-header">
        Greetings, {{ username.title() }}
        <img src="{{ url_for('static', filename='/images/characters/' + character + '.png') }}"
          alt="profile character sprite">
      </p>
      <p class="subtitle">
        Your current stats:
      </p>
    </div>
  </div>

  <div class="container is-max-desktop">

    <table class="table">
      <tbody>
        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/level.png') }}"
              alt="profile character sprite"></td>
          <td>Level</td>
          <td>{{ level }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/strength.png') }}"
              alt="profile character sprite"></td>
          <td>Strength</td>
          <td>{{ strength }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/stamina.png') }}"
              alt="profile character sprite"></td>
          <td>Stamina</td>
          <td>{{ stamina }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/intellect.png') }}"
              alt="profile character sprite"></td>
          <td>Intellect</td>
          <td>{{ intellect }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/skill.png') }}"
              alt="profile character sprite"></td>
          <td>Skill</td>
          <td>{{ skill }}</td>
        </tr>

        <tr>
          <td> <img src="{{ url_for('static', filename='/images/attributes/social.png') }}"
              alt="profile character sprite"></td>
          <td>Social</td>
          <td>{{ social }}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li>
            <a href="{{ url_for('profile_tasks', username=session['user']) }}">Quests</a>
          </li>
          <li>
            <a href="{{ url_for('create_task') }}">New Quest</a>
          </li>
          <li class="is-active">
            <a href="{{ url_for('profile_battle', username=session['user']) }}">Battle</a>
          </li>
          <li>
            <a>Treasures</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<!-- Enemy list -->
<div class="container enemy-list">
  <div class="columns is-flex-mobile is-multiline">
    {% for enemy in enemies %}

    <div class="column is-2 is-half-mobile">

      <div class="card enemy-card has-text-centered">
        {% if enemy.name in defeat_list %}
        <header class="card-header enemy-name enemy-name-defeated">
        {% else %}
        <header class="card-header enemy-name">
        {% endif %}
          {{ enemy.name.title() }}
        </header>
        <div class="card-content enemy-info">
          <img src="{{ url_for('static', filename='/images/enemies/' + enemy.name + '.png') }}" alt="">
          <p>
            {{ enemy.level }} {{ enemy.attribute }} required.
          </p>
        </div>
        <footer class="card-footer enemy-battle-button">
          {% if enemy.name in defeat_list %}
          <p>Defeated</p>
          {% else %}
          <a href="{{ url_for('battle_enemy', enemy=enemy.name) }}">Battle</a>
          {% endif %}
        </footer>
      </div>
    </div>


    {% endfor %}
  </div>
</div>



{% endblock %}